@charset "utf-8";

/* 
    선택자의 종류
    1. 요소(태그, 타입)
    2. 그룹: ,
    3. 클래스: .이름
*/
div{
    width: 1200px;
    margin: 0 auto; /* 콘텐츠 가로 중앙 배치 */
}
.div1 {
    background:aqua;
    height: 100px;
}
.div2 {
    background:beige;
    height: 300px;
}
.div3 {
    background:chocolate;
    height: 200px;
}
.div4 {
    background:darkcyan;
    height: 100px;
}