@charset "utf-8";

/* 플렉스 컨테이너: width:auto; -> width:100%; */
.wrap {
    display:flex;
}

/* 플렉스 아이템: width:auto; -> width:내용; */
/* 
    부모에 display:flex;를 지정하면 
    부모는 플렉스 컨테이너가 되고, 자식만 플렉스 아이템이 된다.
    (손자는 플렉스의 영향을 받지 않음)
*/
.header {
    width: 200px;
    background: #999;
}

.right_wrap {
    width: 1000px;
}

/* 플렉스의 영향을 받지 않음 */
.slide {
    height: 400px;
    background: #eee;
}

.banner {
    height: 200px;
    background: #ccc;
}

.notice {
    height: 250px;
    background: #aaa;
}