@charset "utf-8";

/* 
    박스모델
    width:auto; -> 블록레벨요소는 100%, 인라인요소는 내용 크기로 설정됨
    height:auto; -> 블록레벨요소와 인라인 요소 모두 내용 크기로 설정됨

    border: 테두리
    border-style: 실선|점선|대시선; -> 선종류
    border-width: 선굵기
    border-color: 선색

    padding: 안쪽 여백
    margin: 바깥 여백

    box-sizing: content-box; (기본값)
    박스의 겉보기 크기: width + border + padding 
    box-sizing: border-box; 
    박스의 겉보기 크기: width -> border와 padding이 박스의 안쪽으로 지정, border와 padding 크기 합이 width 절반 크기보다 작게 지정해야한다.
    
*/

body {
    margin: 0;
}

/* 
    그루핑 요소는 box-sizing:border-box;로 사용하며 border(테두리)와 padding 크기가 width와 height에 포함된다.
*/

/* 테두리를 지정하려면 스타일은 필수 작성 */

div {
    width: 300px;
    height: 300px;
    border-style: solid;
    border-width: 30px;
    border-color: red;
    background: yellow;
    /* 내부 콘텐츠 사이 간격 */
    padding: 30px;
    /* 외부 콘텐츠 사이 간격 */
    margin: 100px;
    box-sizing: border-box;
}

/* 인라인 요소는 width, height가 적용되지 않는다. */
span {
    width: 500px;
    height: 200px;
    /* border: 값1 값2 값3; (속기형) */
    border: 1px solid red;
    background: yellowgreen;

    /* 가로/세로 가운데 배치 */
    padding: 50px;

    /* 여백은 좌우만 적용됨 */
    margin: 100px;
}