@charset "utf-8";

/* 

    margin-top
    margin-right
    margin-bottom
    margin-left
    
    여백 (속기형)
    margin: 상하좌우;
    margin: 상하 좌우;
    margin: 상 좌우 하;
    margin: 상 우 하 좌;
    
    예시>
    margin: 10px; -> 상하좌우 모두 10px
    margin: 10px 20px; -> 상하는 10px, 좌우는 20px
    margin: 10px 20px 30px; -> 상은 10px, 좌우는 20px, 하는 30px
    margin: 10px 20px 30px 40px; -> 상은 10px, 우는 20px, 하는 30px, 좌는 40px

    padding-top
    padding-right
    padding-bottom
    padding-left

    패딩 (속기형)
    padding: 상하좌우;
    padding: 상하 좌우;
    padding: 상 좌우 하;
    padding: 상 우 하 좌;
*/

body {
    /* 0만 단위 생략 가능 */
    margin: 0;
}

/* width가 없으면 margin: 0 auto; 적용 안됨 */
.wrap {
    display: flex;
    width: 1100px;
    margin: 0 auto;
}

.wrap div {
    width: 340px;
    height: 620px;
    /* margin은 8의 배수가 좋음 */
    background: lavenderblush;
}

/* 위아래 여백은 큰 값으로 지정 */
/* 좌우는 양옆 개체의 margin 합으로 지정 */

/* 속기형 */
.box1 {
    margin: 0 20px 0 0;
}

.box2 {
    margin: 0 20px;
}

.box3 {
    margin: 0 0 0 20px;
}

/* 일반형 */
.box1 {
    margin-right: 20px;
}

.box2 {
    margin-right: 20px;
    margin-left: 20px;
}

.box3 {
    margin-left: 20px;
}