@charset "utf-8";

/* 

    text-align: 글자 맞춤;
    ling-height: 줄간격;
    padding: 패딩;


    인라인요소, 텍스트 가로정렬
    text-align
    텍스트의 세로 가운데 정렬
    1. height를 지정하지 않고, padding의 위아래 같은 크기를 지정
    2. line-height 속성 값을 height 속성 크기와 같은 크기로 지정 (단, 한 줄 텍스트일 때만 가능)
*/

div {
    background: yellow;
    margin: 12px;
}

div:nth-of-type(1) {
    text-align: left;
    height: 100px;
}

div:nth-of-type(2) {
    text-align: center;
    line-height: 100px;
}

div:nth-of-type(3) {
    text-align: right;
    padding: 42px 0;
}

span {
    padding: 4px 48px;
    border: 1px solid red;
}