@charset "utf-8";

.contents {
    display: flex;
}

.contents div {
    width: 400px;
    height: 200px;
}

.tabs {
    background: #eee;
}

.banner {
    background: #ccc;
}

.shortcut {
    background: #aaa;
}