@charset "utf-8";

/* 
    그룹 선택자: ,
    전체 선택자: *
    *는 모든 요소를 가리킨다.
*/

/* 바디안의 모든 요소 */
/* body * {outline: 1px solid lime;} */

/* reset(초기화) */
body,ul,h1,h2 {
    margin: 0;
}

ul {
    padding: 0;
    list-style-type: none;
}

a {
    /* 텍스트 밑줄 제거 */
    text-decoration: none;
}

/* layout(배치) */
/* 박스모델 속성, display, position */
nav {
    height: 100px;
    /* line-height: 100px; */
}

nav section {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100px;
}

nav li {
    display: inline-block;
}

header {
    height: 200px;
    line-height: 200px;
}

section {
    width: 940px;
    margin: 0 auto;
}

.home-card {
    display: flex;
    justify-content: space-between;
}

.home-icon {
    width: 100px;
    height: 100px;
}

.home-description {
    width: 790px;
    height: 140px;
}

/* header */
header {
    background: url(../assets/bg-light.png);
}
/* section */
/* footer */

/* 
    color: 색
    font-family: 글꼴
    font-size: 크기
    font-style: italic; 기울기
    font-weight: 굵기 (100, 200, 300, ..., 900 단위 없음)
    line-height: 줄간격 1.5 ~ 2 (단위 생략)
    본문은 폰트 크기의 1.5 ~ 2배 간격이 가장 가독성이 좋다.
    px은 소수점으로 작성하지 않는다.
    text-align: 맞춤

    style guide(스타일 가이드)
        h1~h3, Nav a: Georgia, italic
        body, p, Section a: Arial

        단위: rem, em, px, %

        h1: 50px, lh60px
        h2: 30px, lh36px
        h3: 22.5px, lh33.75px
        h3 span: 22.5px, 400, lh33.75px
        Nav a: 20px, lh100px
        Section a: 15px
        body: 15px, lh22.5px → 150~200% 가독성이 좋다.
*/

/* font */
/* 글자의 속성은 상속 받는다. */
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

h1,h2,h3,nav a {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}

h1 {
    font-size: 50px;
    color: #fff;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 22.5px;
}

nav a {
    font-size: 20px;
    color: #444;
}


/* bg-color */

nav {
    background: #eee;
}

.home-icon {
    background: #eee;
}

.home-description {
    background: #ccc;
}

