@charset "utf-8";

/* 웹 폰트 */
/* 구글폰트 */
/* 본문: 
    한글: Noto Sans KR
    영문: Noto Sans
*/

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');



/* 네이버폰트 */
/* 제목: 나눔스퀘어 네오 */
@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2');
}

body {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 15px;
}

h1,h2,h3 {
    font-family: 'NanumSquareNeo-Variable', sans-serif;
}

h1 {
    font-size: 15px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 15px;
    color: #fff;
}
a {
    color: #111;
}